@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.upload span, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img, .upload span img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
body {
  text-align: center;
  background: #fff;
  color: #7b8993;
  font: 300 87%/1.5em 'Open Sans', sans-serif;
}

/* line 15, ../sass/style.scss */
.top {
  background: #009dff;
  /*background:linear-gradient(to right,#009dff 0,#00c8ff 100%);*/
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  height: 4px;
  transition: all 1s;
  width: 0;
  overflow: hidden;
}

/* line 27, ../sass/style.scss */
a, .upload span {
  color: inherit;
}

/* line 30, ../sass/style.scss */
h1 {
  font-size: 1.8rem;
}

/* line 34, ../sass/style.scss */
h2 {
  font-size: 1.1rem;
}

/* line 37, ../sass/style.scss */
.h1h {
  padding-bottom: 0.9rem;
}

/* line 40, ../sass/style.scss */
.h2dec {
  padding-top: 4%;
}

/* line 43, ../sass/style.scss */
.colors {
  width: 100%;
  height: 4px;
}

/* line 47, ../sass/style.scss */
.form-wrapper {
  padding-top: 10%;
  border-radius: 2px;
  margin: 0px auto;
  position: relative;
  width: 375px;
}
/* line 53, ../sass/style.scss */
.form-wrapper #rememberme {
  margin-right: 7px;
}

/* line 58, ../sass/style.scss */
form {
  padding: 30px 20px 0;
}

/* line 62, ../sass/style.scss */
.form-item {
  margin-bottom: 10px;
  width: 100%;
}

/* line 67, ../sass/style.scss */
.form-item input {
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  height: 50px;
  padding: 0 16px;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

/* line 79, ../sass/style.scss */
.form-item input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

/* line 86, ../sass/style.scss */
.button-panel {
  margin: 20px 0 0;
  width: 100%;
}
/* line 90, ../sass/style.scss */
.button-panel .button {
  -webkit-appearance: none;
  background: #009dff;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}
/* line 106, ../sass/style.scss */
.button-panel .button:hover {
  background: #00c8ff;
}

@media only screen and (max-width: 320px) {
  /* line 117, ../sass/style.scss */
  .form-wrapper {
    padding-top: 10%;
    border-radius: 2px;
    margin: 50px auto;
    position: relative;
    width: 320px;
  }
}
/* line 127, ../sass/style.scss */
.cent {
  text-align: center;
  color: #000;
}

/* line 132, ../sass/style.scss */
.view {
  text-align: center;
  text-decoration: none;
  color: #7b8993;
  padding-top: 10px;
}

/* line 139, ../sass/style.scss */
#ref {
  text-align: center;
  text-decoration: underline;
  color: #7b8993;
  padding-top: 8px;
  font-size: 16px;
}

/* line 147, ../sass/style.scss */
#ref:hover {
  text-align: center;
  color: #009dff;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
  padding-top: 8px;
  font-size: 16px;
}

/* line 155, ../sass/style.scss */
ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

/* line 160, ../sass/style.scss */
.h1h {
  color: #000;
  text-align: center;
}

/* line 164, ../sass/style.scss */
.lil {
  display: inline-block;
}

/* line 168, ../sass/style.scss */
.flashMessage {
  background-color: mintcream;
  border: 1px solid #ccffcc;
}

/* line 172, ../sass/style.scss */
.errorMessage {
  color: #C00;
}

/* line 175, ../sass/style.scss */
.errorSummary {
  border: 2px solid #C00;
  padding: 7px 7px 12px 7px;
  margin: 20px 0 0;
  background: #FEE;
  font-size: 0.9em;
}
/* line 181, ../sass/style.scss */
.errorSummary p {
  margin: 0;
  padding: 5px;
  text-align: left;
  padding-left: 20px;
}
/* line 187, ../sass/style.scss */
.errorSummary ul {
  margin: 0;
  padding: 5px 5px 5px 20px;
  list-style: disc inside;
}
/* line 191, ../sass/style.scss */
.errorSummary ul li {
  display: list-item;
  list-style-type: inherit;
  text-align: left;
}

/* line 200, ../sass/style.scss */
label {
  font-weight: bold;
}

/* line 203, ../sass/style.scss */
label.error {
  color: #C00;
}

/* line 206, ../sass/style.scss */
input.error {
  background-color: #FEE;
  border-color: #C00;
}

/**/
/* line 213, ../sass/style.scss */
.lang_switch a, .lang_switch .upload span, .upload .lang_switch span {
  text-decoration: none;
}
/* line 216, ../sass/style.scss */
.lang_switch a:hover, .lang_switch .upload span:hover, .upload .lang_switch span:hover {
  text-decoration: underline;
}

/***/
/* line 225, ../sass/style.scss */
.upload {
  width: 500px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
}
/* line 230, ../sass/style.scss */
.upload fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
}
/* line 234, ../sass/style.scss */
.upload fieldset legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}
/* line 240, ../sass/style.scss */
.upload a, .upload span {
  display: block;
}

/* line 249, ../sass/style.scss */
.bar {
  width: 100%;
  background: #eee;
  padding: 3px;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-sizing: border-box;
}

/* line 258, ../sass/style.scss */
.bar-fill {
  height: 20px;
  display: block;
  background: cornflowerblue;
  width: 0;
  border-radius: 3px;
  transition: width 0.8s ease;
}

/* line 267, ../sass/style.scss */
.bar-fill-text {
  color: #fff;
  padding: 3px;
}

/**/
/*DROPZONE*/
/* line 273, ../sass/style.scss */
#dropzone, #zone {
  display: table;
  width: 300px;
  height: 300px;
  border: 4px dashed #aaa;
  color: #aaa;
  line-height: 280px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

/* line 284, ../sass/style.scss */
#dropzone:hover, #zone:hover {
  cursor: pointer;
  border: 4px dashed #3776bd;
  color: #444444;
}

/* line 289, ../sass/style.scss */
#dropzone span, #zone span {
  vertical-align: middle;
  display: table-cell;
  line-height: 23px;
}

/* line 294, ../sass/style.scss */
#dropzone.dragover {
  color: green;
  border: 2px dashed #000;
}

/* line 299, ../sass/style.scss */
.thumb {
  max-height: 200px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

/* line 304, ../sass/style.scss */
#dropzone.dragover {
  color: green;
  border: 4px dashed #000;
}
