@import "compass/reset";  
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #fff;
    color: #7b8993;
    font: 300 87%/1.5em 'Open Sans', sans-serif;
}
.top{
    background: #009dff;
    /*background:linear-gradient(to right,#009dff 0,#00c8ff 100%);*/
    position:fixed;
    z-index:1031;
    top:0;
    left:0;
    height:4px;
    transition:all 1s;
    width:0;
    overflow: hidden;
}
a{
    color:inherit
}
h1{
    font-size: 1.8rem;

}
h2{
    font-size: 1.1rem;
}
.h1h{
    padding-bottom: 0.9rem;
}
.h2dec{
    padding-top: 4%;
}
.colors{
    width: 100%;
    height: 4px;
}
.form-wrapper {
    padding-top: 10%;
    border-radius: 2px;
    margin: 0px auto;
    position: relative;
    width: 375px;
    #rememberme{
        margin-right: 7px;
    }
}

form {
    padding: 30px 20px 0;
}

.form-item {
    margin-bottom: 10px;
    width: 100%;
}

.form-item input {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    height: 50px;
    padding: 0 16px;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.form-item input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.button-panel {
    margin: 20px 0 0;
    width: 100%;
    
    .button {
        -webkit-appearance: none;
        background: #009dff;
        border: none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        height: 50px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        transition: background 0.3s ease-in-out;
        width: 100%;

        &:hover{
            background: #00c8ff;
        }
    }


}


@media only screen
and (max-width : 320px) {
    .form-wrapper {
        padding-top: 10%;
        border-radius: 2px;
        margin: 50px auto;
        position: relative;
        width: 320px;
    }
}


.cent {
    text-align: center;
    color: #000;
}

.view {
    text-align: center;
    text-decoration: none;
    color: #7b8993;
    padding-top: 10px;
}

#ref {
    text-align: center;
    text-decoration: underline;
    color: #7b8993;
    padding-top: 8px;
    font-size: 16px;
}

#ref:hover {
    text-align: center;
    color: #009dff;
    text-decoration: underline;
    -webkit-animation: hue 60s infinite linear;
    padding-top: 8px;
    font-size: 16px;
}
ul li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
.h1h{
    color: #000;
    text-align: center;
}
.lil{
    display: inline-block;
}

.flashMessage {
    background-color: mintcream;
    border: 1px solid #ccffcc;
}    
.errorMessage{
    color: #C00;
}
.errorSummary{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 20px 0 0;
    background: #FEE;
    font-size: 0.9em;
    p{
        margin: 0;
        padding: 5px;
        text-align: left;
        padding-left:20px;
    }
    ul{
        margin: 0;
        padding: 5px 5px 5px 20px;
        list-style: disc inside;
        li{
            display: list-item;
            list-style-type: inherit;
            text-align: left;           
        }
    }
}


label{
    font-weight: bold;
}
label.error{
    color: #C00;
}
input.error{
    background-color: #FEE;
    border-color: #C00;
}

/**/
.lang_switch{
    a{
        text-decoration:none;

        &:hover{
            text-decoration: underline;
        }
    }
    span{

    }
}
/***/
.upload{
    width: 500px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    fieldset{
        border: 0;
        padding: 0;
        margin-bottom: 10px;
        legend{
            font-size: 1.2em;
            margin-bottom: 10px;

        }
    }
    a{
        display: block;
    }
    span{
        @extend a;
    }
}


.bar{
    width: 100%;
    background: #eee;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    border-radius: 3px;
    box-sizing: border-box;
}
.bar-fill{
    height: 20px;
    display: block;
    background: cornflowerblue;
    width: 0;
    border-radius: 3px;
    transition: width 0.8s ease;
}

.bar-fill-text{
    color: #fff;
    padding: 3px;
}
/**/
/*DROPZONE*/
#dropzone, #zone {
    display: table;
    width: 300px;
    height: 300px;
    border: 4px dashed #aaa;
    color: #aaa;
    line-height: 280px;
    text-align: center; 
    vertical-align: middle;
    text-decoration: none;
}
#dropzone:hover, #zone:hover{
    cursor: pointer;
    border: 4px dashed rgb(55, 118, 189);
    color: rgb(68, 68, 68);
}
#dropzone span, #zone span{
    vertical-align: middle;
    display: table-cell;
    line-height: 23px;
}
#dropzone.dragover {
    color: green;
    border: 2px dashed #000;              

}
.thumb {
    max-height: 200px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
#dropzone.dragover {
    color: green;
    border: 4px dashed #000;
}
